.infobox-main {
  text-transform: uppercase;
  font-size: 76px;
  color: var(--main-text-color);
  font-weight: 600;
  font-family: Inter, sans-serif;
}
.scrambling {
  color: var(--red);
  opacity: 0.1;
  transition: opacity 0.1s ease;
}