/* .navbar-brand */
.navbar .navbar-brand,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active {
  color: var(--main-text-color);
  transition: color 0.12s ease-in-out;
}

.navbar .navbar-brand:hover {
  color: var(--hover-text-color);
}

.navbar-brand-subtitle {
  color: var(--text2-color);
  font-size: 18px;
}

.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: var(--main-text-color);
  transition: color 0.12s ease-in-out;
  font-size: 20px;
}

.navbar .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--red) !important;
}