/* Navbar when scrolled */
.navbar-scrolled {
  background-color: rgb(30, 30, 40);
  transition: background-color 0.3s ease;
}

/* Make all links white */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-brand,
.navbar-scrolled .dropdown-toggle {
  color: white;
}

/* Active link color */
.navbar-scrolled .nav-link.active {
  color: #d1b932 !important;
}

.navbar-scrolled .dropdown-menu {
  background-color: rgb(30, 30, 40);
}

.navbar-scrolled .dropdown-item {
  color: white !important;
}

.navbar-scrolled .dropdown-item:hover {
  background-color: #333;
  color: #d1b932 !important;
}

.navbar-scrolled .nav-link:hover {
  color: #d1b932;
}

.navbar-scrolled #collapsible-nav-dropdown:focus {
  color: white !important;
}

#collapsible-nav-dropdown:focus {
  color: black !important;
}