.navbar {
  background: #111111;
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(25px);
}

.navbar-scrolled {
  background: #20090D46;
}

.navbar .navbar-brand,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active {
  color: var(--main-text-color);
  transition: color 0.12s ease-in-out;
}

.navbar .navbar-brand:hover {
  color: var(--hover-text-color);
}

.navbar-brand-subtitle {
  color: var(--text2-color);
  font-size: 18px;
}

.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: var(--main-text-color);
  transition: color 0.12s ease-in-out;
  font-size: 20px;
}

.navbar .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--red) !important;
}

.nav-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--red);
  z-index: -1;
}

.nav-line-top {
  top: 0;
}

.nav-line-bottom {
  bottom: 0px;
}