:root {
  --main-color: oklch(0.1776 0 0);
  --main-text-color: oklch(1 0 0);
  --hover-text-color: oklch(0.75 0 0);
  --text2-color: oklch(0.6 0 0);
}

#root {

  background-color: var(--main-color);
  height: 100vh;
}

body {
  background-color: var(--main-color) !important;
}

p {
  font-size: 24px
}

p, h1, h2, h3, h4 {
  color: var(--main-text-color) !important;
  font-family: Inter, sans-serif;
  font-weight: 150;
}

.header-spacing {
  padding-top: 50px;
}

.header-spacing-2 {
  padding-top: 150px;
}

.fw-3 {
  font-weight: 300;
}

.nav-container {
  max-width: 90vw;
  width: 100%;
}

.content {
  width: 65%;
  margin: 0 auto;
}

.content-2 {
  width: 75%;
  margin: 0 auto;
}

.image-card {
  transition: all 0.2s ease-in-out;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  border-radius: 1.5rem;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}

.d-flex:has(.image-card:hover) .image-card {
  filter: blur(1px) brightness(0.8);
}

.d-flex .image-card:hover {
  filter: blur(0) brightness(1) !important;
  transform: perspective(1200px) scale(1.1) rotateX(10deg) rotateY(0deg);
  box-shadow: 0 20px 20px oklch(90.447% 0.13339 168.9 / 0.274);
  z-index: 10;
}

.navbar-alt .navbar-brand {
  color: white;
}

.navbar-alt .nav-link {
  color: white;
}

.navbar-alt .nav-link.active {
  color: #d1b932 !important;
}

.navbar-alt .nav-link:hover {
  color: #d1b932;
}