:root {
  --main-color: oklch(0.1776 0 0);
  --main-text-color: oklch(1 0 0);
  --hover-text-color: oklch(0.75 0 0);
  --text2-color: oklch(0.6 0 0);
  --red: oklch(54.572% 0.17798 12.98);
  --bg-gradient: linear-gradient(140deg, #292929, #403333);
  --bg-gradient2: linear-gradient(140deg, #252222, #282525);
  --bg-gradient3: linear-gradient(0deg, #171717, #2c2c2c);
}

#root {
  background-color: var(--main-color);
  height: 100vh;
}

body {
  background-color: var(--main-color) !important;
}

p {
  font-size: 24px
}

p, h1, h2, h3, h4 {
  color: var(--main-text-color) !important;
  font-family: Inter, sans-serif;
  font-weight: 150;
}

.card-line {
  width: 100%;
  height: 3px;
  background: var(--red);
}

.header-spacing {
  padding-top: 50px;
}

.header-spacing-2 {
  padding-top: 150px;
}
.m-header-spacing-2 {
  padding-top: 150px;
}

.fw-3 {
  font-weight: 300;
}

.nav-container {
  max-width: 90vw;
  width: 100%;
}

.content {
  width: 65%;
  margin: 0 auto;
}

.content-2 {
  width: 75%;
  margin: 0 auto;
}

.image-card {
  transition: all 0.2s ease-in-out;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  border-radius: 1.5rem;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}

.d-flex:has(.image-card:hover) .image-card {
  filter: blur(0.5px) brightness(0.9);
}

.d-flex .image-card:hover {
  filter: blur(0) brightness(1) !important;
  transform: perspective(1200px) scale(1.1) rotateX(10deg) rotateY(0deg);
  box-shadow: 0 5px 10px var(--red);
}

.navbar-scrolled {
  background-color: var(--main-color);
}