.image-card {
  transition: all 0.2s ease-in-out;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  border-radius: 1.5rem;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}

.d-flex:has(.image-card:hover) .image-card {
  filter: blur(0.5px) brightness(0.9);
}

.d-flex .image-card:hover {
  filter: blur(0) brightness(1) !important;
  transform: perspective(1200px) scale(1.1) rotateX(10deg) rotateY(0deg);
  box-shadow: 0 5px 10px var(--red);
}